.hero-message {
	text-align:center;
	// h1, h3 {
	// 	text-align:center;
	// }
	
	height:480px !important;

	// @media #{$breakpoint-medium} {
	// 	min-height:780px;
	// }


	background-image: url("../images/bg/lance-background.jpg") !important;
	background-position: 100% !important;

	h1, h3 {
	 	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	 	font-weight: 100;
		text-align:center;
		// color:red !important;
	}

	h1 {
		margin-top:60px;
		font-size:2.7em;
	}

	h3 {
		
		font-size:1em;

		@media #{$breakpoint-medium} {
			
			
			font-size:1.3em;

		}


	}
}

// body {
// 	opacity:0;
// }
// 

#section-tagline {
	background-color: $wevue-green !important;
}

#section-examples {
	background-image: url("../images/bg/bg-blur-rockyshore.jpg") !important;
}

.wevue-cta, .download-btn {
	background-color:darken($wevue-orange, 5);
	
	transition: all 0.2s ease;
	padding: 10px 20px;
	color:$white !important;
	border:none;
	text-transform:uppercase;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;

	width:100%;
	cursor:pointer;
	text-decoration:none !important;

	&:hover {
		background-color:$wevue-orange;
		transition: all 0.2s ease;
		
	}

	@media #{$breakpoint-medium} {
			width:200px;
	}

	a {
		text-decoration:none;
	}


}

.download-btn {
	font-size:0.85em;
	a  {
		color:$white;
		text-decoration:none;
	}

}


// HOT FIX

// Fixed an issue with the slide not being 100% width

.cycle-slide {
	width:100%;
}


section {
	&#contact {
		h1, h2, h3, h4, h5, h6, p {
			color:$white;
		}
	}
}

#section-tagline, .box-service {
	h3, h4 {
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight:100 !important;
		font-size:1.5em;
		text-transform:uppercase;
	}
}

.contact-header {

	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100 !important;
	font-size:1.5em;
	text-transform:uppercase;

}

#mc_embed_signup {

	text-align:center;
	color:$white;

	form {
		padding-left:0 !important;
	}

	.button.button {
		width: 100%;
		padding: 10px 20px;
		height: auto;
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform:uppercase;
		font-weight:100 !important;
		background-color: $wevue-blue-light;
		transition:all 0.2s ease;

		&:hover {
			transition:all 0.2s ease;
			background-color: lighten($wevue-blue-light, 5);
		}
	}

	#mce-success-response {
		color:$wevue-blue-light !important;

	}

	#mc_embed_signup_scroll {
		padding:0 30px;
		
	}

	.mc-field-group {
		width:100% !important;

		label {
			font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight:100 !important;
		}
	}
	


	background: transparent !important;
	border: 2px solid $wevue-blue-light;
	border-radius: 3px;

	&:hover {
		background-color: $wevue-blue-light;
	}

	margin-bottom:50px;

	h2 {
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight:100 !important;
		font-size:1.5em;
		text-transform:uppercase;
		text-align:center;
	}
}

#section-examples {
	padding-bottom:0 !important;
	background-position: 0 0 !important;
}



