// =========================================== //
// BASE COLORS
// =========================================== //
$white: #FFF;
$black: #000;

$body-color: #FF0000;



$wevue-orange: #E97364;
$wevue-green: #35A18E;
$wevue-blue-light: #568EB3;
$wevue-blue-medium: #4D5F6F;
$wevue-blue-dark: #36424D;

