<!-- Footer -->
    <footer>

    <div class="container">
            <nav class="nav-justify">
                <ul>
                <li>
                    <li><a href="" class="footer">Press</a></li>
                    <li><a href="" class="footer footer-pipe">|</a></li>

                    <li><a href="" class="footer" data-toggle="modal" data-target=".modal-story">Privacy</a></li>
                    <li><a href="" class="footer footer-pipe">|</a></li>
                    <li><a href="" class="footer os-animation" data-os-animation="pulse" data-os-animation-delay="4s"><span class="copyright">Copyright</span> &copy; WeVue 2015</a></li>
                    <li><a href="" class="footer footer-pipe">|</a></li>
                    <li><a href="" class="footer" data-toggle="modal" data-target=".modal-team">Terms</a></li>
                    <li><a href="" class="footer footer-pipe">|</a></li>
                    <li><a href="" class="footer">Blog</a></li>
                   
                </ul>
            </nav>
        </div>
    </footer>