
<!-- Intro Header -->
    <header class="intro ">
        <div class="intro-body sub-layer">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="intro-container">
                            <a id="personal" href="#">
                                <img src="img/wevue-logo-png.png" class="img-rounded intro-icons" alt="WeVue app Logo: redirects to 'personal' WeVue app page" />
                            </a>
                        </div>
                        <img src="img/wevue-logo-text.svg" class="brand-logo brand-heading os-animation toBeAnimated" data-os-animation="fadeInDown" data-os-animation-delay=".1s" alt="WeVue logo as text 'WeVue'" />
<!-- fade in/ out text  -->
                        <div class="switch-out">
                            <h3 class="quotes quote-title" style="color:#219ab3; display: none;">Collaborate visually</h3>
                            <h3 class="quotes quote-title" style="color:#219ab3; display: none;">Crowdsource content marketing material</h3>
                            <h3 class="quotes quote-title" style="color:#219ab3; display: none;">Create community</h3>
                            <h3 class="quotes quote-title" style="color:#219ab3; display: none;">Capture and tell your stories</h3>
                            <h3 class="quotes quote-title" style="color:#219ab3; display: none;">Connect people</h3>
                        </div>
                        <br />
                        <a href="#about" class="to-about btn btn-circle page-scroll os-animation" data-os-animation="pulse" data-os-animation-delay="2.5s">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">


    <div class="thumbnail small-thumbnail thumbnail-left ">
     <img src="img/circle.svg" class="svg-icon circle-svg os-animation toBeAnimated" data-os-animation="rotateIn" data-os-animation-delay=".2s">
        <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>


    <div class="thumbnail small-thumbnail thumbnail-right ">
           <img src="img/horn.svg" class="svg-icon horn-svg os-animation" data-os-animation="bounceIn" data-os-animation-delay=".1s">
 
        <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
            


    <div class="thumbnail flex">

                <img src="img/company_flex.svg" class="flex-svg os-animation " data-os-animation="fadeIn" data-os-animation-delay=".4s">
        <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
            
                
            
<!-- 'How it Works' SVG -->
<h1 class="how-it-work-mobile-text">How It Works</h1>

<!-- <h3 class="how-it-work-mobile-text" style="width:45%; float:right; display:inline-block;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
<h3 class="how-it-work-mobile-text" style="width:45%; float:right; display:inline-block;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
<h3 class="how-it-work-mobile-text" style="width:45%; float:right; display:inline-block;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
-->
                 <img src="img/how-it-works-mobile-v2.svg" class="how-it-works-mobile center-block os-animation" data-os-animation="fadeIn" data-os-animation-delay=".2" style="width: 100%; position:relative; " alt="WeVue 'How it Works' animation showing the admin, users, and community using the WeVue App: The Admin submits a request via the app for photos and videos of a topic or location.  Members of the Community sumbit and caption their photos and videos.  Your Website: Displays content generated on the app for marketing and recruitment." />
                <img src="img/wevue_how_it_works.svg" class="how-it-works center-block os-animation" data-os-animation="fadeIn" data-os-animation-delay=".2" style="width: 90%;" alt="WeVue 'How it Works' animation showing the admin, users, and community using the WeVue App: The Admin submits a request via the app for photos and videos of a topic or location.  Members of the Community sumbit and caption their photos and videos.  Your Website: Displays content generated on the app for marketing and recruitment." />
                <!-- Showcasue widget -->
                <div id="wevue_album_widget" class="wevue_album_widget" data-id="2997361849" style="display: none; "></div>
                <a class="wevue_album_widget_link" href="#" data-event-id="102499386" style="text-decoration:none; color:white;">
        
                    <ul class="last-list">
                        <li style="padding-top: 22px;" class="li center-block li-2 os-animation widget-text" data-os-animation="fadeIn" data-os-animation-delay=".7s"><i class="fa fa-terminal fa-icons-dark2 os-animation" data-os-animation="flash" data-os-animation-delay="3.5s"></i>&nbsp;&nbsp;&nbsp;<span class="features-section">On your website:</span> drop a few lines of code into any site, and easily moderate the content that goes from the app to your company culture page, or anywhere else on your website.</li>     
                    </ul>
                </a>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact"  class="container content-section text-center" >
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 id="fade-success" class="os-animation inset-shadow" data-os-animation="fadeIn" data-os-animation-delay=".1s">Want to learn more about WeVue<span class="os-animation" data-os-animation="tada" data-os-animation-delay="2.5s">?
                </span></h2>
                <p class="os-animation inset-shadow" data-os-animation="fadeIn" data-os-animation-delay="1.8s">Feel free to email us to provide some feedback, give us suggestions, or to just say hello!</p>
<!-- Email Link -->
                <p><a class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="1.2s" href="mailto:info@wevue.com">info@wevue.com</a></p>
                <h3 class="success-message center-block toBeAnimated" id="success">
                  <span style="color:#fff"> Thanks!</span><br />Our Team will be in touch !
                </h3> 
                <div class="form-area btn btn-default btn-lg toBeAnimated os-animation" data-os-animation="pulse" data-os-animation-delay=".1s" id="form">
                Request Demo    
<!-- Angualr form  -->
                    <div data-ng-app="formApp" >
                        <div data-ng-controller="FormController">
                            <form  novalidate class="animated">
                                <input 
                                    type="text" 
                                    data-ng-model="user.Name"
                                    class="form-control" 
                                    id="Name" 
                                    placeholder="Your Name" 
                                    required /><br />
                                <input 
                                    type="email" 
                                    data-ng-model="user.Email" 
                                    class="form-control toBeAnimatedFast" 
                                    id="Email" 
                                    placeholder="Company Email" 
                                    required /><br />
                                <input 
                                    type="text" 
                                    data-ng-model="user.PhoneNumber"
                                    class="form-control toBeAnimatedFast2 "
                                    id="Number"
                                    placeholder="Phone - (optional)" /><br />
                                <input 
                                    id="submit"
                                    class="enable btn-default btn-lg os-animation" 
                                    type="submit" 
                                    data-ng-click="update(user)" 
                                    value="Send"
                                    data-os-animation="pulse" 
                                    data-os-animation-delay=".1s"
                                    disabled="disabled"/>   
                            </form>
                        </div>
                    </div>
                </div>
            </div>



    <div class="container" style="width:80%; font-size:3em;">
            <nav class="nav-justify" >
                <ul class="social">
                    <li><a class="twitter os-animation" data-os-animation="pulse" data-os-animation-delay="2.1s"  href="http://www.twitter.com/wevue" title="Twitter"><i class="fa fa-twitter inset-shadow"></i></a></li>
                    <li><a class="facebook os-animation" data-os-animation="pulse" data-os-animation-delay="2.4s"  href="http://www.facebook.com/wevue" title="Facebook"><i class="fa fa-facebook inset-shadow"></i></a></li>
                    <li><a class="linkedin os-animation" data-os-animation="pulse" data-os-animation-delay="2.7s"  href="http://www.linkedin.com/company/wevue" title="LinkedIn"><i class="fa fa-linkedin inset-shadow"></i></a></li>
                    <li><a class="google-plus os-animation" data-os-animation="pulse" data-os-animation-delay="3s"  href="https://plus.google.com/104054240207237778608/about" title="Google+"><i class="fa fa-google-plus inset-shadow"></i></a></li>
                </ul>
            </nav>
        </div>

        </div>
    </section>